.hero {
  
    margin-top: 177px ;
    left: -2px;
    background-image: url('/path-to-your-background-image.jpg');
    background-size: cover;
    background-position: center;

   
}

.title {
    font-family: 'Robot Crush', sans-serif;
}



.button {
    padding: 10px 20px; 
    border-radius: 9999px;
    /* Rounded-full */
    font-size: 1rem;
    transition: background 0.3s, color 0.3s;
}

.primary {
    background-color: #4CAF50;
    color: white;
}

.primary:hover {
    background-color: #45a049;
}

.secondary {
    background-color: transparent;
    color: #4CAF50;
    border: 2px solid #4CAF50;
}

.secondary:hover {
    background-color: #4CAF50;
    color: white;
}
